.desktop {
  --fileIndex: 0;
  --settingIndex: 0;
  --cmdIndex: 0;
  --todoIndex: 0;
  --calcIndex: 0;
  --codeIndex: 0;
}

.react-draggable-dragged,
.react-draggable {
  position: absolute !important;
}

.filemanager {
  z-index: var(--fileIndex) !important;
}
.cmd {
  z-index: var(--cmdIndex) !important;
}
.todo {
  z-index: var(--todoIndex) !important;
}
.setting {
  z-index: var(--settingIndex) !important;
}
.calculator {
  z-index: var(--calcIndex) !important;
}
.code {
  z-index: var(--codeIndex) !important;
}

.react-datepicker__input-container input {
  color: black;
  max-width: 100%;
  padding: 0.2rem 0;
  text-align: center;
  border-radius: 10px;
}

.year-wrapper::before {
  display: block;
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: rgb(1, 106, 198);
  left: 3px;
  top: 0;
}

.fade-in {
  animation: FadeIn 300ms forwards;
}

@keyframes FadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
