.ddd {
  display: flex;
}
.portfolioWrapper {
  margin: 0.7rem !important;
}
@media only screen and (max-width: 944px) {
  .aboutmeText {
    font-size: 0.9rem !important;
  }
}
@media only screen and (max-width: 860px) {
  .aboutmeText {
    font-size: 0.88rem !important;
  }
}
@media only screen and (max-width: 814px) {
  .aboutmeText {
    font-size: 0.83rem !important;
  }
}
@media only screen and (max-width: 800px) {
  .aboutmeText {
    font-size: 0.75rem !important;
  }
}
@media only screen and (max-width: 600px) {
  .aboutmeText {
    font-size: 0.7rem !important;
  }
  .aboutme {
    max-width: 85%;
  }
}
@media only screen and (max-width: 530px) {
  .aboutmeText {
    font-size: 0.6rem !important;
  }
  .aboutme {
    max-width: 85%;
  }
}
@media only screen and (max-width: 390px) {
  .aboutmeText {
    font-size: 0.55rem !important;
  }
  .aboutme {
    max-width: 85%;
  }
}

.swiper {
  margin-left: 0.7rem !important;
  margin-right: 2.3rem !important;
}

.programming {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  /* grid-column-gap: px; */
}
.react {
  grid-column: 1/5;
  grid-row: 1/2;
}
.vue {
  grid-column: 1/5;
  grid-row: 2/3;
}
.vuex {
  grid-column: 5/9;
  grid-row: 2/3;
}
.redux {
  grid-column: 5/9;
  grid-row: 1/2;
}
.redux-saga {
  grid-column: 9/13;
  grid-row: 1/2;
}
.libraries {
  grid-column: 9/13;
  grid-row: 2/3;
}
.Tailwind {
  grid-column: 1/7;
  grid-row: 1/2;
}
.Material {
  grid-column: 7/13;
  grid-row: 1/2;
}
.Bootstrap {
  grid-column: 1/7;
  grid-row: 2/3;
}
.Sass {
  grid-column: 7/13;
  grid-row: 2/3;
}
